<div class="rank-container">
 <% ranks.each.do |book| %>
  <div class="rank-box">
   <%= i %>位
    <div class="table">
      <% book.book_comments.each do |book_comment| %>
      <tr>
        <th><%= attachment_image_tag(book_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></th>
        <br>
        <th><%= link_to @book.user.name,books_path %></th>


        <th><%= book_comment.comment %></th>

        <% end %>

    </div>
  </div>
 <% end %>