<h4>チャット</h4>
<%= form_with model: @chat, remote: true do |f| %>
 <%= f.text_field :message %>
 <%= f.hidden_field :room_id %>
 <%= f.submit "SEND", class:"btn btn-sm btn-success chat-btn" %>
<% end %>