<h1>チャット</h1>

<% @room.user_rooms.each do |room|%>
<% unless room.user.id == current_user.id %>
 <h4><%= room.user.name %>さん</h4>
<% end %>



<%= form_with model: [@room, @chat],remote: true do |f| %>
  <%= f.text_area :message %>
  <%= f.submit "投稿する" %>
<% end %>

<% end %>