<h1>チャット</h1>

 <!--chats表示-->
<table id="chats_area">
　<%= render 'chats/chats_index',chats: @chats %>
</table>

<!--chats 入力フォーム-->

 <%= form_with model: [@room, @chat], remote: true do |f| %>
   <%= f.text_area :message %>
   <%= f.submit "投稿する" %>
 <% end %>
