<table class='table table-hover table-inverse'>
  <thead>
   <!--ProfileImage-->
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% books.each do |book| %>
    <% end %>
  </tbody>
</table>